In [7]:
# from knn import Knn
# from perceptron import Perceptron
import pandas as pd
from IPython.display import display

In [20]:
df_bin = pd.read_csv('https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary/a4a')
df_bin_t = pd.read_csv('https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary/a4a.t')
df_multi = pd.read_csv('https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/multiclass/iris.scale')
display(df_bin, df_bin.columns)
display(df_bin_t)
display(df_multi)

     -1 3:1 11:1 14:1 19:1 39:1 42:1 55:1 64:1 67:1 73:1 75:1 76:1 80:1 83:1
0     -1 3:1 6:1 17:1 27:1 35:1 40:1 57:1 63:1 69:1 ...
1     -1 1:1 7:1 16:1 22:1 36:1 42:1 56:1 62:1 67:1 ...
2     -1 3:1 6:1 14:1 21:1 35:1 40:1 50:1 63:1 67:1 ...
3     -1 3:1 9:1 14:1 26:1 35:1 40:1 56:1 63:1 71:1 ...
4     -1 4:1 6:1 15:1 21:1 35:1 40:1 57:1 63:1 67:1 ...
...                                                 ...
4775  +1 3:1 6:1 15:1 19:1 39:1 41:1 52:1 66:1 71:1 ...
4776  -1 5:1 15:1 22:1 36:1 40:1 63:1 67:1 73:1 74:1...
4777  -1 4:1 10:1 15:1 24:1 38:1 41:1 52:1 66:1 67:1...
4778  -1 2:1 6:1 14:1 31:1 35:1 40:1 53:1 63:1 69:1 ...
4779  -1 2:1 6:1 15:1 29:1 39:1 42:1 47:1 64:1 68:1 ...

[4780 rows x 1 columns]

Index(['-1 3:1 11:1 14:1 19:1 39:1 42:1 55:1 64:1 67:1 73:1 75:1 76:1 80:1 83:1 '], dtype='object')

      -1 5:1 7:1 14:1 19:1 39:1 40:1 51:1 63:1 67:1 73:1 74:1 76:1 78:1 83:1
0      -1 3:1 6:1 17:1 22:1 36:1 41:1 53:1 64:1 67:1 ...
1      -1 5:1 6:1 17:1 21:1 35:1 40:1 53:1 63:1 71:1 ...
2      -1 2:1 6:1 18:1 19:1 39:1 40:1 52:1 61:1 71:1 ...
3      -1 3:1 6:1 18:1 29:1 39:1 40:1 51:1 61:1 67:1 ...
4      -1 4:1 6:1 16:1 26:1 35:1 45:1 49:1 64:1 71:1 ...
...                                                  ...
27774  -1 2:1 6:1 17:1 24:1 38:1 40:1 47:1 61:1 67:1 ...
27775  +1 3:1 6:1 15:1 22:1 36:1 40:1 54:1 63:1 67:1 ...
27776  -1 5:1 6:1 15:1 22:1 36:1 44:1 55:1 66:1 67:1 ...
27777  -1 1:1 6:1 17:1 22:1 36:1 42:1 55:1 62:1 67:1 ...
27778  +1 5:1 8:1 18:1 22:1 36:1 40:1 51:1 61:1 67:1 ...

[27779 rows x 1 columns]

         1 1:-0.555556 2:0.25 3:-0.864407 4:-0.916667
0    1 1:-0.666667 2:-0.166667 3:-0.864407 4:-0.916...
1               1 1:-0.777778 3:-0.898305 4:-0.916667
2    1 1:-0.833333 2:-0.0833334 3:-0.830508 4:-0.91...
3    1 1:-0.611111 2:0.333333 3:-0.864407 4:-0.916667
4        1 1:-0.388889 2:0.583333 3:-0.762712 4:-0.75
..                                                 ...
144    3 1:0.333333 2:-0.166667 3:0.423729 4:0.833333
145         3 1:0.111111 2:-0.583333 3:0.355932 4:0.5
146    3 1:0.222222 2:-0.166667 3:0.423729 4:0.583333
147    3 1:0.0555554 2:0.166667 3:0.491525 4:0.833333
148    3 1:-0.111111 2:-0.166667 3:0.38983 4:0.416667

[149 rows x 1 columns]

In [13]:
## get the dataframes into multiple columns of continuous floating point number, with first colum as the classification.

In [14]:
## predict, store
def knn_predict(df, p):
    df.copy()
    knn_pred = list()
    for row, index in df_test.iterrows():
        classification = Knn.predict(row)
        knn_pred.append(classification)
    df['knn_pred_p{}'.format(p)]=knn_pred
    return df
# def knn_eval(##insert needed params):
    # sklearn.metrics.some_metric(y=df_test.class_label, y_pred = df['knn_pred_p{}'.format(p)])

In [19]:
## fine tuning perhaps if you'd like for k param and maybe optimizer for perceptron, other params, only if accuracy matters.

## visualization